body {
    padding-left: 100px;
    padding-right: 100px;
}

input[type="text"] {
    font-size: 30px;
}

form {
    width: 500px;
}

#main {
    display: flex;
    justify-content: space-between;
}

#addSong {
    font-size: 80px;
}

#inputTitle {
    width: 500px;
    height: 70px;
}

#inputDescription {
    margin-top: 20px;
    width: 500px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: none;
}

#addButton{
    margin-top: 50px;
    width: 100px;
    height: 50px;
}

/* SONG.HTML */

#songTable {
    margin-top: 50px;
    width: 40vh;
    border: 2px solid lightgrey;
}

#songTitle {
    font-size: 50px;
    margin-top: 20px;
}

#songArtists {
    margin-top: 200px;
}

#songDescription {
    height: 100px;
}

#subTitleSongs {
    margin-top: 100px;
}

span {
    margin-left: 100px;
}